.inactiveDisplay {
  height: 190px;
  line-height: 190px;
  text-align: center;
  background-color: rgb(235, 207, 207) !important;
  border-radius: 5px;
  box-shadow: 5px 5px rgb(235, 140, 140);
}

.inactiveDisplay .stopwatch {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white !important;
}

.activeDisplay .stopwatch h1 {
  font-size: 100px;
}

.blink {
  color: white;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  70% {
    opacity: 1;
  }
  85% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.activeDisplay {
  height: 97vh;
  line-height: 97vh;
  text-align: center;
  background-color: rgb(235, 207, 207);
  border-radius: 5px;
}

.activeDisplay .stopwatch {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white !important;
}

.activeDisplay .stopwatch h1 {
  font-size: 200px;
}